{{#if model.topicFirstPost}}
<div class="add-task-button-container">
  {{projects-datetime-picker label="begin" datetime=model.projects_task.begin submit=(action "begin") disabled=model.begindisabled}}
  {{projects-duration-picker Label="duration" duration=model.projects_task.duration submit=(action "duration") disabled=model.durationdisabled}}
  {{projects-datetime-picker label="end" datetime=model.projects_task.end submit=(action "end") disabled=model.enddisabled}}
<div class="max-btn">
  {{dropdown-select-box content=dropdowncontent  onSelect=(action "lockedChange") value=model.projects_task.locked}}
</div>
  <div class="max-btn">
  {{projects-dependencies-picker submit=(action "dependencies") deponTopics=model.projects_task.depon depbyTopics=model.projects_task.depby}}
</div>
<div>
  {{d-button
    class=disallow_classes
    action=(action "disallow")
    icon="lock"}}
</div>
</div>
{{/if}}
