{{#if model.topicFirstPost}}
<div class="add-task-button-container">
  {{projects-datetime-picker label="begin" datetime=model.projects_task.begin submit=(action "begin") closed=model.closed locked=model.projects_task.locked}}
  {{projects-duration-picker label="duration" duration=model.projects_task.duration submit=(action "duration") closed=model.closed locked=model.projects_task.locked}}
  {{projects-datetime-picker label="end" datetime=model.projects_task.end submit=(action "end") closed=model.closed locked=model.projects_task.locked}}
<div class="max-btn">
  {{dropdown-select-box content=dropdowncontent  onSelect=(action "lockedChange") value=model.projects_task.locked}}
</div>
  <div class="max-btn">
  {{projects-dependencies-picker submit=(action "dependencies") deponTopics=model.projects_task.depon depbyTopics=model.projects_task.depby cat=model.category.name}}
</div>
<div>
  {{d-button
    class=model.disallow_classes
    action=(action "disallow")
    icon="lock"}}
</div>
</div>
{{/if}}
